
<%= simple_form_for(@restaurant) do |f| %>

  <div class="form-inputs w-75">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: Restaurant::CATEGORY %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>
